.Player
    margin: 0 auto
    width: 100%
    max-width: 600px
    height: 600px
    display: flex
    flex-direction: column
    justify-content: space-evenly
    // background-color: #e0e0e0
    #audio
    .Time
        display: flex
        width: 66%
        justify-content: space-between
        color: #a7a7a7
    .album-art
        display: flex
        justify-content: center
        img
            width: 100%
            max-width: 400px
            border-radius: 26px
    .player-nav
        display: flex
        justify-content: space-evenly
    .songLine
        width: 100%
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
#Progress
    margin-top: 16px
    border-radius: 15px
    width: 66%
    height: 4px
    appearance: none
    background: #e6e6e6 // (30/300) * 100
    border: 10px solid #fff
    // overflow: hidden
    outline: none
#Progress::-webkit-slider-thumb
    width: 8px
    height: 22px
    border-radius: 8px
    background: #797979
    appearance: none
    cursor: pointer


